
@{
    ViewBag.Title = "Kategori Listesi";
}

<h2>Mvc Kamp Tablo Örneği</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Başlık</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Durum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Eğitim</td>
            <td>Burası Eğitim Kategorisi</td>
            <td>Aktif</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Tiyatro</td>
            <td>Burası Tiyatro Kategorisi</td>
            <td>Aktif</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Kitap</td>
            <td></td>
            <td>Aktif</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Spor</td>
            <td></td>
            <td>Aktif</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Film</td>
            <td></td>
            <td>Aktif</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Dizi</td>
            <td></td>
            <td>Aktif</td>
        </tr>
    </tbody>
</table>

