@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron" style="margin-top:20px;">
    <h1>MVC Kampı</h1>
    <p class="lead">Eğitmen : Murat Yücedağ</p>
    <p class="lead">Kurs Tarihi : 09/04/2021</p>
</div>
